<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.asset.mapper.AssetProcessCountingMapper">

    <resultMap type="AssetProcessCounting" id="AssetProcessCountingResult">
        <result property="id"    column="id"    />
        <result property="processId"    column="process_id"    />
        <result property="instanceId"    column="instance_id"    />
        <result property="countingTaskCode"    column="counting_task_code"    />
        <result property="userCode"    column="user_code"    />
        <result property="assetCode"    column="asset_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssetProcessCountingVo">
        select id, process_id, instance_id, counting_task_code, user_code, asset_code, create_time, update_time from asset_process_counting
    </sql>

    <select id="selectAssetProcessCountingList" parameterType="AssetProcessCounting" resultMap="AssetProcessCountingResult">
        <include refid="selectAssetProcessCountingVo"/>
        <where>
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="instanceId != null  and instanceId != ''"> and instance_id = #{instanceId}</if>
            <if test="countingTaskCode != null  and countingTaskCode != ''"> and counting_task_code = #{countingTaskCode}</if>
            <if test="userCode != null  and userCode != ''"> and user_code = #{userCode}</if>
            <if test="assetCode != null  and assetCode != ''"> and asset_code = #{assetCode}</if>
        </where>
    </select>

    <select id="selectAssetProcessCountingById" parameterType="Long" resultMap="AssetProcessCountingResult">
        <include refid="selectAssetProcessCountingVo"/>
        where id = #{id}
    </select>

    <select id="inventoryCountList"  resultType="java.util.Map">
        SELECT ifnull(b.task_name,"") as taskName,a.isCount,a.x
        from(
                select DATE_FORMAT(counting_time,'%m%d') as x ,COUNT(*) as isCount ,task_code
                from asset_process_counting
                WHERE counting_time is not null
                  and <![CDATA[ DATE_FORMAT(counting_time,'%Y') >=  DATE_FORMAT(#{startDate},'%Y')]]>
                GROUP BY task_code,x
            ) a
                LEFT JOIN (SELECT * from asset_inventory_task) b on b.task_code =a.task_code
    </select>

    <select id="inventoryCountYear" resultType="java.util.Map">
        select a.x ,IFNULL(a.isCount,0) as isCount,IFNULL(b.isExcept,0) as isExcept
            from (
                 select YEAR(counting_time) as x ,COUNT(*) as isCount from asset_process_counting
                 WHERE counting_time is not null
                   and <![CDATA[ DATE_FORMAT(counting_time,'%Y') >=  DATE_FORMAT(#{startDate},'%Y')]]>
                   and <![CDATA[ DATE_FORMAT(counting_time,'%Y') <=  DATE_FORMAT(#{endDate},'%Y')]]>
                 GROUP BY x
             ) a
                 LEFT JOIN
             (
                 select YEAR(counting_time)  AS x ,COUNT(*) as isExcept
                 from asset_process_counting
                 WHERE counting_time is not null and  counting_status ='2' GROUP BY x
             ) b on a.x=b.x
    </select>

    <select id="inventoryCountMonth" resultType="java.util.Map">
        select a.x ,IFNULL(a.isCount,0) as isCount,IFNULL(b.isExcept,0) as isExcept
        from (
                 select YEAR(counting_time) as yy, MONTH(counting_time)  AS x, COUNT(*) as isCount
                 from asset_process_counting
                 WHERE counting_time is not null
                 and <![CDATA[ DATE_FORMAT(counting_time,'%Y') =  DATE_FORMAT(#{startDate},'%Y')]]>
                 GROUP BY yy,x
             )
                 a
                 LEFT JOIN (
            select YEAR(counting_time) as yy, MONTH(counting_time) AS x ,COUNT(*) as isExcept
            from asset_process_counting
            WHERE counting_time is not null and  counting_status ='2' GROUP BY yy,x
        ) b on a.yy=b.yy and a.x=b.x
    </select>

    <insert id="insertAssetProcessCounting" parameterType="AssetProcessCounting" useGeneratedKeys="true" keyProperty="id">
        insert into asset_process_counting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processId != null">process_id,</if>
            <if test="instanceId != null">instance_id,</if>
            <if test="countingTaskCode != null">counting_task_code,</if>
            <if test="userCode != null">user_code,</if>
            <if test="assetCode != null">asset_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processId != null">#{processId},</if>
            <if test="instanceId != null">#{instanceId},</if>
            <if test="countingTaskCode != null">#{countingTaskCode},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="assetCode != null">#{assetCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssetProcessCounting" parameterType="AssetProcessCounting">
        update asset_process_counting
        <trim prefix="SET" suffixOverrides=",">
            <if test="processId != null">process_id = #{processId},</if>
            <if test="instanceId != null">instance_id = #{instanceId},</if>
            <if test="countingTaskCode != null">counting_task_code = #{countingTaskCode},</if>
            <if test="userCode != null">user_code = #{userCode},</if>
            <if test="assetCode != null">asset_code = #{assetCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetProcessCountingById" parameterType="Long">
        delete from asset_process_counting where id = #{id}
    </delete>

    <delete id="deleteAssetProcessCountingByIds" parameterType="String">
        delete from asset_process_counting where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>