<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.asset.mapper.AssetProcessReceiveMapper">
    
    <resultMap type="AssetProcessReceive" id="AssetProcessReceiveResult">
        <result property="id"    column="id"    />
        <result property="processId"    column="process_id"    />
        <result property="instanceId"    column="instance_id"    />
        <result property="userCode"    column="user_code"    />
        <result property="assetCode"    column="asset_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssetProcessReceiveVo">
        select id, process_id, instance_id, user_code, asset_code, create_time, update_time from asset_process_receive
    </sql>

    <select id="selectAssetProcessReceiveList" parameterType="AssetProcessReceive" resultMap="AssetProcessReceiveResult">
        <include refid="selectAssetProcessReceiveVo"/>
        <where>  
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="instanceId != null  and instanceId != ''"> and instance_id = #{instanceId}</if>
            <if test="userCode != null  and userCode != ''"> and user_code = #{userCode}</if>
            <if test="assetCode != null  and assetCode != ''"> and asset_code = #{assetCode}</if>
        </where>
    </select>
    
    <select id="selectAssetProcessReceiveById" parameterType="Long" resultMap="AssetProcessReceiveResult">
        <include refid="selectAssetProcessReceiveVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssetProcessReceive" parameterType="AssetProcessReceive" useGeneratedKeys="true" keyProperty="id">
        insert into asset_process_receive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processId != null">process_id,</if>
            <if test="instanceId != null">instance_id,</if>
            <if test="userCode != null">user_code,</if>
            <if test="assetCode != null">asset_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processId != null">#{processId},</if>
            <if test="instanceId != null">#{instanceId},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="assetCode != null">#{assetCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssetProcessReceive" parameterType="AssetProcessReceive">
        update asset_process_receive
        <trim prefix="SET" suffixOverrides=",">
            <if test="processId != null">process_id = #{processId},</if>
            <if test="instanceId != null">instance_id = #{instanceId},</if>
            <if test="userCode != null">user_code = #{userCode},</if>
            <if test="assetCode != null">asset_code = #{assetCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetProcessReceiveById" parameterType="Long">
        delete from asset_process_receive where id = #{id}
    </delete>

    <delete id="deleteAssetProcessReceiveByIds" parameterType="String">
        delete from asset_process_receive where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>