<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.assetnew.mapper.AssetProcessVariableMapper">

    <sql id="selectAssetProcessVariableVo">
        select id, process_id, field_id, field_value from asset_process_variable
    </sql>

    <select id="selectProcessVariableWithCondition" resultType="com.hexing.assetnew.domain.AssetProcessVariable">
        select v.id, v.process_id, v.field_id, v.field_value, f.field_key
        from asset_process_variable v
        left join asset_process_field f on v.field_id=f.id
        <where>
            <choose>
                <when test="list != null and list.size() > 0">
                    v.process_id in
                    <foreach collection="list" index="i" item="processId" open="(" close=")" separator=",">
                        #{processId}
                    </foreach>
                </when>
                <otherwise>
                    v.process_id in ("-1")
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>
