<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.asset.mapper.AssetProcessVariableMapper">
    <select id="selectVariableListByProcessId" resultType="AssetProcessVariable">
        SELECT v.id, v.process_id, v.field_id, v.field_value, f.field_key, f.field_label
        FROM asset_process_variable v
                 LEFT JOIN asset_process_field f ON v.field_id=f.id
        where v.process_id = #{processId}
    </select>

    <select id="selectVarWithProcessIds" resultType="AssetProcessVariable">
        SELECT v.id, v.process_id, v.field_id, v.field_value, f.field_key, f.field_label
        FROM asset_process_variable v
        LEFT JOIN asset_process_field f ON v.field_id=f.id
        WHERE v.process_id IN
        <foreach collection="list" item="processId" open="(" close=")" separator=",">
            #{processId}
        </foreach>
    </select>

</mapper>
