<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.asset.mapper.AssetProcessMapper">
    
    <resultMap type="AssetProcess" id="AssetProcessResult">
        <result property="id"    column="id"    />
        <result property="processType"    column="process_type"    />
        <result property="userCode"    column="user_code"    />
        <result property="assetCode"    column="asset_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssetProcessVo">
        select id, process_type, user_code, asset_code, create_time, update_time from asset_process
    </sql>

    <select id="selectAssetProcessList" parameterType="AssetProcess" resultMap="AssetProcessResult">
        <include refid="selectAssetProcessVo"/>
        <where>  
            <if test="processType != null  and processType != ''"> and process_type = #{processType}</if>
            <if test="userCode != null  and userCode != ''"> and user_code = #{userCode}</if>
            <if test="assetCode != null  and assetCode != ''"> and asset_code = #{assetCode}</if>
        </where>
    </select>
    
    <select id="selectAssetProcessById" parameterType="Long" resultMap="AssetProcessResult">
        <include refid="selectAssetProcessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssetProcess" parameterType="AssetProcess" useGeneratedKeys="true" keyProperty="id">
        insert into asset_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processType != null">process_type,</if>
            <if test="userCode != null">user_code,</if>
            <if test="assetCode != null">asset_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processType != null">#{processType},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="assetCode != null">#{assetCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssetProcess" parameterType="AssetProcess">
        update asset_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="processType != null">process_type = #{processType},</if>
            <if test="userCode != null">user_code = #{userCode},</if>
            <if test="assetCode != null">asset_code = #{assetCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetProcessById" parameterType="Long">
        delete from asset_process where id = #{id}
    </delete>

    <delete id="deleteAssetProcessByIds" parameterType="String">
        delete from asset_process where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>